@import url(http://fonts.googleapis.com/css?family=Muli);

body{
	font-family: 'Muli', sans-serif;
	font-weight: 300;
}
.background{
	background: url("pics/background.jpg") no-repeat #eee;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 100%;
	.blur(6px);
}

h1{
	font-family: 'Muli', sans-serif;
	color:#000000;
	font-weight: 300;
	font-size: 30px;
}

h3{
	font-family: 'Muli', sans-serif;
	color:#555555;
	font-weight: 300;
	font-size: 20px;
	margin-bottom: 30px;
}
a{
	color:#333;
	text-decoration: underline;
}

#contact-us{
	margin-top: 50px;
	display: inline-block;
}

.logo-container{
	text-align: center;
	.logo{
		width: 130px;
		height: auto;
		margin-top: 50px;
		margin-bottom: 30px;
	}
	
}
.title{
	text-align: center;
}

.app-store-link{
	width:200px;
}


/* MIXINS */

.blur(@value){
    filter: blur(@value);
    -webkit-filter: blur(@value);
}